* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
  height: 5rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.branding {
  display: flex;
}
li {
  display: inline;
  margin-left: 2rem;
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.branding-title {
  margin-left: 10px;
}
h4 {
  font-weight: 400;
}
.branding img {
  height: 3rem;
}

.bg-1 {
  background-image: url(/assets/bg.jpg);
  width: 100%;
  height: 40rem;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2rem;
}

.hero {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border: 2px solid red;
}

.hero-content {
  display: flex;
  border: 2px solid dodgerblue;
  padding-top: 2rem;
}
.hero-text {
  color: white;
  border: 2px solid red;
  padding: 0 1rem 2rem 1rem;
  margin-bottom: 2rem;
}

.hero-text h1 {
  font-size: 40px;
}

.hero-text .hero-prime {
  font-size: 24px;
  color: #b7b7b7;
  margin-bottom: 1.5rem;
}

.hero-enrolment {
  border: 2px solid yellow;
  padding-top: 1.5rem;
  line-height: 1.5rem;
}

.enrolment-details {
  border: 2px solid red;
  width: 70%;
}

.details-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-1 .icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.details-1 .icon img {
  width: 20px;
}

.hero-form {
  border: 3px solid green;
  padding: 2rem 2rem 2rem 2rem;
  background-color: white;
  width: 40%;
}
.para {
  border: 3px solid aqua;
  padding-bottom: 25px;
  color: black;
  font-size: 1.5em;
}
input {
  width: 100%;
  height: 4rem;
}
.hero-cover {
  display: flex;
  justify-content: space-between;
}
.hero-FN {
  width: 46%;
}
.box2 {
  width: 46%;
  padding-bottom: 25px;
  font-size: ;
}
.box3 {
  padding-bottom: 25px;
}

button {
  width: 100%;
  height: 4rem;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border: none;
}

/* Section 2 */

.bg-2 {
  background-color: #f9fafa;
  height: 40rem;
}

.testimonial1 {
  display: flex;
}
.testimonial-content {
  text-align: center;
  width: 50%;
  padding-top: 30px;
  line-height: 1.5rem;
}
.testimonial-content img {
  width: 120px;
  border-radius: 50%;
}

.rilwan {
  margin: auto;
}
.bold {
  font-weight: bold;
}
.red {
  color: red;
  font-weight: bold;
}

/* section 3 */

.bg-3 {
  background-color: #ffffff;
  height: 30rem;
}
.view {
  display: flex;
}
.view-icon {
  text-align: center;
  padding-top: 50px;
}

/* Section 4 */

.bg-4 {
  background-color: #f9fafa;
  height: 40rem;
}
h3 {
  text-align: center;
  padding-top: 20px;
  font-size: 35px;
}
hr {
  width: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 45%;
  border: 3px solid #007bff;
}
.mission-content {
  display: flex;
}
.mission-para {
  line-height: 1.5rem;
  padding-right: 20px;
}
.mission-para p {
  padding-top: 10px;
}
.mission-icon img {
  width: 40em;
  height: 23rem;
}
.btn {
  width: 30%;
  height: 3rem;
}
